.layout-sidebar{
    width:70px;
    min-height: 100vh;
    height: 100%;
    /* background-color: #595F69 !important;
    color: white; */
}
.sidebar-navitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navitem-container{
    width: 100%;
    height: fit-content;
}
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}
.item{
    width: 23px;
    height: 23px;
    font-size: 16px;
    font-weight: 700;
}