@import "../../style/themes.scss";

.layoutSidebar{
    width:70px;
    min-height: 100vh;
    height: 100%;
    @include sidebarTheme() {
        color: t('text');
        background: t('bg');
      }

      .sidebarNavitems{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .navitemContainer{
        width: 100%;
        height: fit-content;
    }
    .navItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        position: relative;
    }

    .item{
        width: 23px;
        height: 23px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}

.sidebarPopupMenu{
    background-color: #595F69 !important;
    // color: white !important;
    position: relative;
    width: 250px;
    margin: 0;
    left: 47px;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-clip: padding-box;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  }

  .ant-dropdown-menu{
    height: fit-content !important;
  }
  .ant-dropdown-menu-item{
    width: 100%;
  }
  .preview-item-content{
    line-height: 1;
    padding-left: 15px;
  }
 
  .logoutItem{
    width: 100%;
  }