.card-container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}
.action-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}