/* .card-container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}

.action-dropdown-button{
    min-width: 120px;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    outline-width: 0px;
    background-color: #F2F5FA;
    border-color: #F2F5FA;
    color: #595F69 !important;
    padding: 0px 15px;
    text-decoration: none;
    border: none;
}
.action-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.action-download-icon{
    color: #595F69 !important;
    height: 40px !important;
    font-size: 14px;
}
.action-add-button{
    color: #fff;
    background-color: #3A86FF;
    border-color: #3A86FF;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 25px;
    border: none;
    margin-left: 10px;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.search-bar input{
    border: none;
    background-color: transparent;
    outline-width: 0px;
    outline-offset: 0px;
}
.search-bar{
    background-color: #eff1f5 !important;
    border-color: transparent;
    color: #595F69 !important;
    text-decoration: none;
}
.search-bar .input-group-prepend{
    border: 0;
    background: transparent;
}
.input-group-prepend{
    color: #c9c8c8;
    background-color: #eff1f5 !important;
    width: auto;
}
.input-group-prepend .input-group-text{
    border: none;
    padding: 0.875rem 0.75rem;
    background-color: #eff1f5 !important;
    color: #c9c8c8;
}
.input-group-text{
    border: none !important;
}
.form-control{
    border: none;
    outline: none !important;
}


input[type=text]:focus{
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);
  background-color: #F2F5FA;
} */
