.action-add-button{
    color: #fff;
    background-color: #3A86FF;
    border-color: #3A86FF;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 25px;
    border: none;
    margin-left: 10px;
}