.content-wrapper{
    background: #f1f1f1 !important;
    width: 100%;
    height: 100vh;
}
.auth .auth-form-light {
    background: #ffffff;
}
.form-group .form-control, .form-group .form-control:focus {
    background: #F2F5FA !important;
    border-radius: 0 !important;
    border: none;
}
input[type=text]:focus{
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0);
    background-color: #F2F5FA;
  }
  