.modal-content{
    position: absolute;
    top: 100px;
    min-width: 400px;
    width: 100%;
    border: none;
    border-radius: 0px !important;
    min-height: 600px;
    height: 100%;
}
.closeIcon{
    position: absolute;
    top: 20px !important;
    right: 20px !important;
    cursor: pointer !important;
    color: grey;
}